@import '~antd/dist/antd.css';
.logon-layout{
    background-image: url(../icon/logbackground.jpg);
    margin:0px;
    background-size:100% 100%;
    background-attachment:fixed;
}

.logon-logo-content{
    margin-top:70px;
    margin-left: 33%;
    max-width : 50px;
}

.logon-log-content{
    margin-top:70px;
    margin-left: 33%;
    max-width : 480px;
}

.logon-form-button{
    margin-left: 180px;
}

.to-login{
    margin-top:100px;
    margin-left: 33%;
    max-width : 480px;
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-bottom: 20px;
}