@import '~antd/dist/antd.css';
.picture-upload-sider{
    outline-style: solid;
    outline-color: gray;
    outline-width: thin;
    min-height: 750px;
}
.post-router-head{
    background-color: white;
    outline-style: solid;
    outline-color: gray;
    outline-width: thin;
    min-width: 300px;
}
.picture-edit{
    background-color: white;
    outline-style: solid;
    outline-color: gray;
    outline-width: thin;
    min-width: 100px;
}
.picture-edit-item{
    outline-style: solid;
    outline-color: gray;
    outline-width: thin;
    min-width: 200px;
}
.picture-upload-show{
    min-height: 640px;
}
.tonextarrow{
    text-align :right;
}

